<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "this dummy site" %></h1>
  <p>You can see the demo of implementation of Google reCAPTCHA v2 with Phoenix Liveview</p>
</section>